language: python
python:
  - "3.6.5"
# command to install dependencies
install:
  - pip install gunicorn
  - pip install -r requirements.txt
  - npm install newman -g
  - newman --version
  - python manage.py migrate
  - gunicorn travistest.wsgi --daemon
# command to run tests
script:
  - newman test/travistest.v1.json